body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.berlinClock {
    width: 300px;
    margin: 40px auto;
    font-size: 0;
    text-align: center;
}

.block {
    width: 24%;
    padding-bottom: 18%;
    border: 3px solid #EEEBE2;
    border-radius: 5px;
    margin: 0.5%;
    box-shadow: 0 0 4px #DBD6C3;
    display: inline-block;
    background: #DBD6C3;
    overflow: hidden;
}

.seconds .block {
    border-radius: 100%;
}

.mins-5 .block {
    width: 8%;
}

.block.red {
    background: #E66C6C;
}

.block.yellow {
    background: #EDEB87;
}